img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 4vw;
}

@font-face {
    font-family: 'VCR_OSD_MONO';
    src: url('VCR_OSD_MONO_1.001.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html, body {
    text-align: center;
    font-family: 'VCR_OSD_MONO', monospace;
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    width: 100%;
    height: 100%;
    /*line-height: 1.8;*/
}